Package: com.block.procguard
Name: ProcGuard
Version: 2.0
Architecture: iphoneos-arm64
Depends: ellekit, firmware (>= 16.0)
Description: runningboardd注入进程守护 | RBS原生终止 + 偏好设置自定义目标
Maintainer: Dev
Author: Dev
Section: Tweaks
